*{
    margin: 0;
    padding: 0;
}
.calculator,#inner{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#display
{
    color: white;
    font-weight: bold;
    text-align: center;
    /* overflow: scroll; */
}
.screen{
    height: 10%;
    width: 53%;
    border: 2px solid red;
    margin-bottom: 0.3rem;
    border-radius: 2rem;
    background-color: black;
    /* color: white; */
}
#buttons
{
    height: 50%;
    width: 50%;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    justify-content: space-around;
}
.btn
{
    height: 10%;
    width: 20%;
    border: 2px solid red;
    margin-top: 4px;
    border-radius: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    /* overflow: scroll; */
}